body {
  color: #69585f;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none
}

a:hover {
  color: rgb(50, 76, 147)
}

ul {
  list-style-type: none;
  padding: 0;
}

.menu-bar a {
  text-decoration: none;
  color: #69585f
}



.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  padding: 0px;
  background: linear-gradient(#fdfcfa 20%, transparent);
}

.header a {
  padding: 10px 10px;
  margin: 0px 5px;
  border-style: solid;
  border-width: 1px 0;
  border-color: transparent;
  transition-duration: .2s;
}

.header a:hover {
  padding: 2px 10px;
  margin: 8px 5px;
  transition-duration: .4s;
  border-color: steelblue;
}

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
}

.my-name {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 60px;
  margin: 0;
  transition-duration: .7s;
  line-height: 60px;
  padding: 20px 40px;
  display: flex;
  flex-direction: row;
}

.first-name {
  color: rgba(43, 149, 232, 0.76)
}

.tinier {
  font-size: 20px;
  transition-duration: .7s;
  line-height: calc(1em + 13px);
}

.profilesection {
  padding: 20px;
}

.first-section {
  height: 634px;
  background: url('images/wp1.png');
  padding: 100px 0 0 0;
  background-attachment: fixed;
  background-position: bottom;
  background-size: cover;

}

.first-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.first-content i {
  font-size: 30px;
  padding: 0 20px 0 0;
}

.first-content li {
  padding: 20px 20px 20px 40px;
  font-size: 20px;
  transition-duration: .2s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.first-content li:hover {
  padding: 20px 10px 20px 50px;
  background: linear-gradient(60deg,rgba(94, 174, 237, 0.66) 20%, rgba(255,0,0,0) 73%) 50% 50% / 100% 11em;
  transition-duration: .2s;
}

.first-right {
padding: 20px 40px;
text-align: right;
}

.second-section {
  height: 1204px;
  background-color: #fdfcfa;
  padding-top: 120px;

}

.third-section {
  height: 634px;
  background-color: #fdfcfa;
    padding-top: 80px;
}

.fourthsection {
  height: 634px;
  background-color: #fdfcfa;
    padding-top: 80px;
}

.each-project {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  filter: grayscale(80%);
    transition-duration: .3s;

}

.each-project img {
  max-width: 300px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.each-project p {
  font-size: 12px;
}

.each-project:hover {
  filter: grayscale(20%);
  color: rgb(86, 172, 242);
  transform: translate(0px, -5px);
  transition-duration: .3s;

}



.all-projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
}
